<!DOCTYPE html>
<html lang="en">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap 적용 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Javascript, jQuery 적용 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<style>
    .carousel-item {
        height: 65vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<header>

</header>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:5000">Take A Picture : TAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:5000">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/regisphoto">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/login">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 화면 가운데 큰 사진 슬라이드 부분 -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- 슬라이드 첫 번째 사진 -->
        <div class="carousel-item active"
            style="background-image: url('https://t1.daumcdn.net/cfile/tistory/2120B941590F36F006')">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="display-4"></h3>
                    <p class="lead">This is a description for the first slide.</p> -->
            </div>
        </div>
        <!-- 슬라이드 두 번째 사진 -->
        <div class="carousel-item"
            style="background-image: url('https://cdn.demasian.com/files/attach/images/3856039/594/362/006/cLGgogzdrbaNg0Nr5uIYimhcXpp0VIYi.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="display-4">Second Slide</h3>
                    <p class="lead">This is a description for the second slide.</p> -->
            </div>
        </div>
        <!-- 슬라이드 세 번째 사진 -->
        <div class="carousel-item"
            style="background-image: url('https://post-phinf.pstatic.net/MjAxNzExMDlfMjM5/MDAxNTEwMjA5OTg4MjQy.m3MMKRMVCbbA7fNilR-zepDod6RFT5tIJbL-gfleYQ8g.9rFaGLCGhcdhVZRHcUvcInWcFeL9fLwjt9hRqiDJjqkg.JPEG/3.jpg?type=w1200')">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="display-4">Third Slide</h3>
                    <p class="lead">This is a description for the third slide.</p> -->
            </div>
        </div>
        <!-- 슬라이드 네 번째 사진 -->
        <div class="carousel-item"
            style="background-image: url('https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile5.uf.tistory.com%2Fimage%2F244C403C59310ABD027FBE')">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="display-4">Third Slide</h3>
                    <p class="lead">This is a description for the third slide.</p> -->
            </div>
        </div>
        <!-- 슬라이드 다섯 번째 사진 -->
        <div class="carousel-item" style="background-image: url('https://i.imgur.com/ymQkKMP.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="display-4">Third Slide</h3>
                    <p class="lead">This is a description for the third slide.</p> -->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1 class="font-weight-light">Take A Picture : TAP</h1>
        <br />
        <p class="lead">당신만의 포토 스팟을 공유해보세요!</p>
    </div>
</section>

</html>