<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- 사진 메타데이터 사용시 필요한 플러그인 exif -->
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>


    <!-- CSS 입력 -->
    <style>
        @charset "utf-8";

        #img {
            width: 500px;
            height: 400px;
        }

        .title {
            font-weight: bold;
            display: block;
        }

        .hAddr {
            position: absolute;
            left: 10px;
            top: 10px;
            border-radius: 2px;
            background: #fff;
            background: rgba(255, 255, 255, 0.8);
            z-index: 1;
            padding: 5px;
            margin-top: 100px;
        }

        #centerAddr {
            display: block;
            margin-top: 2px;
            font-weight: normal;
        }

        .bAddr {
            padding: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>

    <!-- JS 입력 -->
    <script>
        // 사진 첨부하고 웹 페이지에 보여주기
        let sel_file;


        $(function () {
            $('#inputImg').on("change", function () {
                readInputFile(this);
                photo_meta();
            });
        })

        function readInputFile(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                //console.log(reader)
            };
        }

        function photo_meta() {
            // 첨부된 사진의 메타 데이터 불러오기
            // id=img인 이미지를 변수로 저장
            let imgElem = document.getElementById('img');
            console.log(imgElem)
            // 같은 페이지 안에서 이미지가 바뀌는 경우 이전의 메타데이터 정보를 지워주어야 함.
            imgElem.exifdata = null;
            EXIF.getData(imgElem, function () {
                let allMetaData = EXIF.getAllTags(imgElem); // 모든 EXIF 정보
                console.log(allMetaData)
                console.log(JSON.stringify(allMetaData, null, "\t"));
            })
        }
    </script>

    <title>포토스팟사진등록 페이지</title>
</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="http://localhost:5000">Take A Picture : TAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:5000/regisphoto">Upload
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <!-- 카카오맵 API 가져오기 -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=777480c2599b2a751a4396500c8bb796&libraries=services"></script>
    <!-- 지도중심기준 행정동 주소정보 보여주는 박스 -->
    <div class="map_wrap" style="margin-top: 100px;">
        <div id="map" style="width:600px;height:600px;"></div>
        <div class="hAddr">
            <div class="title">지도중심기준 행정동 주소정보</div>
            <div id="centerAddr"></div>
        </div>
    </div>
    <script>
        let mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        // 지도 생성
        let map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 주소-좌표 변환 객체를 생성합니다
        let geocoder = new kakao.maps.services.Geocoder();

        // 지도를 클릭한 위치에 표출할 마커입니다
        let marker = new kakao.maps.Marker({
            // 지도 중심좌표에 마커를 생성합니다 
            position: map.getCenter()
        });
        // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다
        let infowindow = new kakao.maps.InfoWindow({ zindex: 1 });

        // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
        searchAddrFromCoords(map.getCenter(), displayCenterInfo);

        // 지도에 마커를 표시합니다
        marker.setMap(map);

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
            searchDetailAddrFromCoords(mouseEvent.latLng, function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    let detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                    detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                    let content = '<div class="bAddr">' +
                        '<span class="title">법정동 주소정보</span>' +
                        detailAddr +
                        '</div>';

                    // 마커를 클릭한 위치에 표시합니다 
                    marker.setPosition(mouseEvent.latLng);
                    marker.setMap(map);

                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                    infowindow.setContent(content);
                    infowindow.open(map, marker);

                    let address_string = result[0].address.address_name;
                    let addrResult = `<p id="addrVal">${address_string}</p>`
                    let addrDiv = document.getElementById('addr');
                    addrDiv.innerHTML = addrResult;
                }
            });

            // 클릭한 위도, 경도 정보를 가져옵니다 
            let latlng = mouseEvent.latLng;

            let lat = latlng.getLat();
            let lng = latlng.getLng();

            let latResult = `<p id="latVal">${lat}</p>`
            let lngResult = `<p id="lngVal">${lng}</p>`

            let latDiv = document.getElementById('lat');
            let lngDiv = document.getElementById('lng');

            latDiv.innerHTML = latResult;
            lngDiv.innerHTML = lngResult;
        });

        // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'idle', function () {
            searchAddrFromCoords(map.getCenter(), displayCenterInfo);
        });

        function searchAddrFromCoords(coords, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
        }

        function searchDetailAddrFromCoords(coords, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }

        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                let infoDiv = document.getElementById('centerAddr');

                for (let i = 0; i < result.length; i++) {
                    // 행정동의 region_type 값은 'H' 이므로
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].address_name;
                        break;
                    }
                }
            }
        }

        // 사진마다 고유값 uuid 생성
        function guid() {
            function s4() {
                return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        }

        // 포토 스팟의 위도, 경도 및 사진 정보 저장
        function regis_photo() {
            let lat = $('#latVal').text();
            let lng = $('#lngVal').text();

            let doh = $('#addrVal').text().split(' ')[0];
            let siGoonGu = $('#addrVal').text().split(' ')[1];

            let photo = jQuery('#img').attr('src');
            let date = $('#input_date').val();
            let weather = $('input[name="weather"]:checked').val();
            let equipment = $('#input_equipment').val();
            let program = $('#input_program').val();
            let etc = $('#input_etc').val();;

            let photo_uuid = guid();
            if (lat == '') {
                alert("좌표를 찍지 않았습니다!! 지도에 마킹을 해주세요")
            } else {
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5000/regisphoto",
                    data: {
                        lat_give: lat,
                        lng_give: lng,
                        doh_give: doh,
                        siGoonGu_give: siGoonGu,
                        photo_give: photo,
                        date_give: date,
                        weather_give: weather,
                        equipment_give: equipment,
                        program_give: program,
                        etc_give: etc,
                        photo_uuid_give: photo_uuid
                    },
                    success: function (response) {
                        alert(response['msg']);
                        window.location.reload();
                    }
                })
            }
        }
    </script>

    <!-- 지도에 마커 찍으면 자동으로 위도, 경도가 출력 중 -->
    <div id="lat">
    </div>
    <div id="lng">
    </div>

    <!-- 지도에 마커 찍으면 지번 주소 출력 -->
    <div id="addr">

    </div>

    <!-- 사진 정보들 기입 div -->
    <div>
        <!-- 첨부된 사진 보여주기 -->
        <div id="uploadImg">
            <img id="img" />
        </div>
    </div>

    <div>
        <!-- 사진 첨부하기(일단 첨부할 때 이미지 파일만 보이게 하기) -->
        <form action="" method="post" name="">
            <!-- 파일 첨부할 때 일단 이미지 파일만 보이게 한다, 모든 파일 보이게 설정하면 이미지 파일 말고도 첨부는 가능하더라 -->
            <input type="file" id="inputImg" name="FileName" accept="image/gif, image/jpeg, image/png" required
                multiple>
        </form>
        <!-- 날짜 입력 -->
        <div>
            날짜 : <input type="date" id="input_date">
        </div>
        <!-- 날씨 입력 -->
        <div>
            날씨 : <input type="radio" name="weather" value="맑음" checked="checked">맑음
            <input type="radio" name="weather" value="흐림">흐림
            <input type="radio" name="weather" value="비">비
            <input type="radio" name="weather" value="눈">눈
        </div>
        <!-- 촬영 기기 입력 -->
        <div>
            촬영 기기 : <input type="text" name="address" size="20" id="input_equipment">
        </div>
        <!-- 보정 프로그램 입력 -->
        <div>
            보정 프로그램 : <input type="text" name="address" size="20" id="input_program">
        </div>
        <!-- 기타 촬영기법 입력(텍스트 구문으로) -->
        <div>
            기타 촬영기법 : <br />
            <textarea cols="50" rows="10" id="input_etc"></textarea>
        </div>
        <!-- 등록 버튼 -->
        <div>
            <button type="button" onclick="regis_photo()">
                등록
            </button>
        </div>
    </div>
</body>

</html>